<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    th문법을 사용하지 않을 경우 post가 매핑 되지 않을 수 있다. 그러므로 th 문법을 사용해서 action을 넘겨주자! -->
    <form th:action="@{'/post/'}" method="post">
        제목 : <input type="text" name="title"> <br>
        작성자 : <input type="text" name="writer"> <br>
        <textarea name="content"></textarea> <br>
        <button type="submit">등록</button>
<!--        <input type="submit" value="등록">-->
    </form>
</body>
</html>